/* app css stylesheet */

@import url(http://fonts.googleapis.com/css?family=Fauna+One);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two);

body { 
  font-family: 'Fauna One';
  /*color: black;*/
}

.bg-img {
  background: url('../img/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#infoWindow
 {
  text-shadow: none;
}

a,a:hover {
  text-decoration: none;
}
.lead-smaller {
  font-size: 30px;
}

#twitter_icon {
  height: 50px;
  width: 50px;
}

/* background: url() no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Fauna One', serif;
}*/

/*#logo {
  background: url('img/barnstorm_logo.png') no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100px;
  height: 100px;

}*/

.site-wrapper {
  background: rgba(120, 120, 120, .8);
}

.cover-container {
  /*background: rgba(120, 120, 120, .4); */
}

.cover-heading, .masthead-brand {
  font-family: 'Lobster Two', cursive;
}

.cover-heading {
  font-size: 72px;
}

.btn.btn-lg.btn-default:hover {
  background-position: 0px;
}

#map-canvas { 
  height: 100%;
  min-height: 400px;
  width: 100%;
  min-width: 600px;
}

#table_header{
  font-size: 15px;
}
.table>tbody>tr>td {
  vertical-align: middle;  
}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background: rgba(255,255,255,.2);
}

.masthead-brand, .lead, tbody, td, tr, h2, h1, h3 {
  color: white;
}

#tooltip {
  position: absolute;
  display: block;
  min-width: 200px;
  max-width: 250px;
  padding: 10px;
  background: rgba(255,255,255,.7);
}

#tooltip p {
  margin: 5px 0;
  line-height: 100%;
  font-size: small;
  text-shadow: none;
}
.cover-container {
  color: white;
}


/*#infoWindow {
  height: 300px;
  width: 400px;
}*/

/*#price-table tr td {
    font-size: 50px;
  }*/
