/* app css stylesheet */

@import url(http://fonts.googleapis.com/css?family=Fauna+One);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two);

body { 
  font-family: 'Fauna One';
}
/*  background: url() no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Fauna One', serif;
}*/

/*#logo {
  background: url('img/barnstorm_logo.png') no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100px;
  height: 100px;

}*/

.site-wrapper {
  background: rgba(51, 204, 255, .5);
}

.cover-heading, .masthead-brand {
  font-family: 'Lobster Two', cursive;
}

.cover-heading {
  font-size: 72px;
}

.btn.btn-lg.btn-default:hover {
  background-position: 0px;
}

#map-canvas { 
  height: 400px;
  width: 50%;
}

#table_header{
  font-size: 20px;
}

#infowindow p {
  color: black !important;
  text-decoration: none;
}


/*#price-table tr td {
    font-size: 50px;
  }*/


/* d3 graph display */

/* tell the SVG path to be a thin blue line without any area fill */
path {
  stroke: steelblue;
  stroke-width: 1;
  fill: none;
}
 
.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}