<div class="masthead clearfix">
	<div class="inner">
		<h3 class="masthead-brand"><a href="/">Barnstorm</a></h3>
		<ul class="nav masthead-nav">
			<li ><a href="/">Home</a></li>
			<li ><a href="/features">Features</a></li>
			<li class="active"><a href="/contact">Contact</a></li>
		</ul>
	</div>
</div>
<div class="inner cover" >
	<h2>Contact Us</h2>
	<div class="container-fluid">
		<strong>Gilad Penn </strong><p>giladpenn@gmail.com | @freeslugs</p>
		<strong>Mimoun P Cadosch Delmar</strong><p>mimouncadosch@gmail.com | @MPCadosch</p>
		<a href="https://api.venmo.com/v1/oauth/authorize?client_id=1576&scope=make_payments%20access_profile" target="_self">donate 5$</a>
	</div>	
		<!-- <canvas id="canvas" height="450" width="600"></canvas> -->
	</div>
</div>
<div class="mastfoot">
	<div class="inner">
		<p>Created by <a href="https://github.com/mimouncadosch">Mimoun</a> and <a href="https://github.com/freeslugs">Gilad</a>.</p>
	</div>
</div>