<h2>Dashboard</h2>
<a href='/profile'>Profile Page</a>
<button ng-click="getTweets()"> Get Mah Tweets</button>

<label for="reply" >Reply<input type="text" id="reply" ng-model="reply.text"></label><br>
			
<button ng-click="replyTweet()">Respond</button>
<!-- <div> 
<p ng-repeat="tweet in tweets track by $index">{{tweet.content}}</p>
</div> -->

<p>This is where the D3 is going to go</p>
<div id="graph" class="aGraph"></div>

<p>Hello World</p>
<div id="map-canvas"></div>

<!-- <button ng-click="getTweets()">POPULATE MAP</button> -->


