<div class="masthead clearfix">
	<div class="inner">
		<h3 class="masthead-brand">Barnstorm</h3>
		<ul class="nav masthead-nav">
			<li><a href="/">Home</a></li>
			<li class="active" ><a href="/dashboard">Dashboard</a></li>
			<li><a href="/map">Map</a></li>
		</ul>
	</div>
</div>
<div class="inner cover" >
	<h2>Dashboard</h2>
	<div class="container-fluid">
		<!-- <div id="graph" class="aGraph"></div> -->
		<canvas id="canvas" height="450" width="600"></canvas>
	</div>
</div>
<div class="mastfoot">
	<div class="inner">
		<p>Created by <a href="https://github.com/mimouncadosch">Mimoun</a> and <a href="https://github.com/freeslugs">Gilad</a>.</p>
	</div>
</div>
<!-- 


<a href='/profile'>Profile Page</a>
<button ng-click="getTweets()"> Get Mah Tweets</button>

<label for="reply" >Reply<input type="text" id="reply" ng-model="reply.text"></label><br>
			
<button ng-click="replyTweet()">Respond</button> -->
<!-- <div> 
<p ng-repeat="tweet in tweets track by $index">{{tweet.content}}</p>
</div> -->

<!-- <p>This is where the D3 is going to go</p>
<div id="graph" class="aGraph"></div>

<p>Hello World</p>
 -->

<!-- <button ng-click="getTweets()">POPULATE MAP</button> -->


