<div class="masthead clearfix">
	<div class="inner">
		<h3 class="masthead-brand"><a href="/">Barnstorm</a></h3>
		<ul class="nav masthead-nav">
			<li ><a href="/">Home</a></li>
			<li class="active"><a href="/features">Features</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
</div>
<div class="inner cover" >
	<h2>Features</h2>
	<div class="container-fluid">
		<div class="table-responsive">
			<table class="table table-hover" id="price-table">
				<tr id="table_header">	
					<td>Features</td>
					<td>Class President</td>
					<td>City Council</td> 
					<td>Prez</td>
				</tr>
				<tr>
					<td>Basic Twitter Sentiment Analysis</td>
					<td><span style="font-size: 200%;">&#10004;</span></td>
					<td><span style="font-size: 200%;">&#10004;</span></td>
					<td><span style="font-size: 200%;">&#10004;</span></td>
				</tr>
				<tr>
					<td>Sentiment Map</td>
					<td><span style="font-size: 200%;">&#10004;</span></td>
					<td><span style="font-size: 200%;">&#10004;</span></td>
					<td><span style="font-size: 200%;">&#10004;</span></td>
				</tr>
				<tr>
					<td>Advanced Sentiment Map with Details</td>
					<td></td>
					<td><span style="font-size: 200%;">&#10004;</span></td>
					<td><span style="font-size: 200%;">&#10004;</span></td>
				</tr>
				<tr>
					<td>Advanced Sentiment</td>
					<td></td>
					<td></td>
					<td><span style="font-size: 200%;">&#10004;</span></td>
				</tr>
				<tr>
					<td>Price</td>
					<td>Free</td>
					<td>$100/month</td>
					<td>$500/month</td>
				</tr>
			</table>
		</div>
	</div>	
</div>
</div>
<div class="mastfoot">
	<div class="inner">
		<p>Created by <a href="https://github.com/mimouncadosch">Mimoun</a> and <a href="https://github.com/freeslugs">Gilad</a>.</p>
	</div>
</div>



