<div class="masthead clearfix">
	<div class="inner">
		<h3 class="masthead-brand">Barnstorm</h3>
		<ul class="nav masthead-nav">
			<li class="active"><a href="/">Home</a></li>
			<li><a href="/features">Features</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
</div>
<div class="inner cover" >
	<h1 class="cover-heading">Barnstorm</h1>
	<p class="lead">Campaign without the pain</p>
	<p class="lead">
		<a href="/auth/twitter" target="_self" class="btn btn-lg btn-default">Sign in with Twitter</a>
	</p>
</div>
<div class="mastfoot">
	<div class="inner">
		<p>Created by <a href="https://github.com/mimouncadosch">Mimoun</a> and <a href="https://github.com/freeslugs">Gilad</a>.</p>
	</div>
</div>