<div class="masthead clearfix">
	<div class="inner">
		<h3 class="masthead-brand">Barnstorm</h3>
		<ul class="nav masthead-nav">
			<li><a href="/">Home</a></li>
			<li ><a href="/dashboard">Dashboard</a></li>
			<li class="active" ><a href="/map">Map</a></li>
		</ul>
	</div>
</div>
<div class="inner cover" >
	<h2>Dashboard</h2>
	<div class="container-fluid">
		<div id="map-canvas"></div>
	</div>
</div>
<div class="mastfoot">
	<div class="inner">
		<p>Created by <a href="https://github.com/mimouncadosch">Mimoun</a> and <a href="https://github.com/freeslugs">Gilad</a>.</p>
	</div>
</div>